.logo {
  width: 100px;
  //height: 80px;
  //padding: 20px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.charts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}
