<mat-toolbar>
  <mat-toolbar-row style="height: auto; padding: 0 30px 0 30px;">
    <img src="/assets/logo.png" class="logo">

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <mat-form-field class="example-full-width" style="width: 340px">
      <mat-icon aria-hidden="false" aria-label="Example home icon" matPrefix>search</mat-icon>
      <input matInput placeholder="Search...">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<div style="display: flex; flex-direction: column;">
  <div style="font-size: 100px; font-weight: bold; text-align: center;">
    THANK YOU!
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; align-items: center; flex-direction: column; width: 30%; margin-right: 20px;">
      <img src="/assets/1.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1; ">
    </div>
    <div style="display: flex; align-items: center; width: 30%;  flex-direction: column; margin-right: 20px;">
      <img src="/assets/2.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1; margin-bottom: 20px;">
      <img src="/assets/3.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1;">
    </div>
    <div style="display: flex; align-items: center; flex-direction: column; width: 30%; margin-bottom: 20px;">
      <img src="/assets/4.jpeg" alt="" style="object-fit: cover; width: 100%; flex: 1; margin-right: 20px;">
    </div>
  </div>
</div>
