.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.logo {
  width: 100px;
  //height: 80px;
  //padding: 20px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.frequently-asked-question-item {
  background-color: gray;
  color: white;
  font-size: 24px;
}

.request-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


