<div style="display: flex; flex-direction: column;">
  <div style="font-size: 100px; font-weight: bold; text-align: center;">
    THANK YOU!
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; align-items: center; flex-direction: column; width: 30%; margin-right: 20px;">
      <img src="/assets/1.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1; ">
    </div>
    <div style="display: flex; align-items: center; width: 30%;  flex-direction: column; margin-right: 20px;">
      <img src="/assets/2.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1; margin-bottom: 20px;">
      <img src="/assets/3.jpg" alt="" style="object-fit: cover; width: 100%; flex: 1;">
    </div>
    <div style="display: flex; align-items: center; flex-direction: column; width: 30%; margin-bottom: 20px;">
      <img src="/assets/4.jpeg" alt="" style="object-fit: cover; width: 100%; flex: 1; margin-right: 20px;">
    </div>
  </div>
</div>
